asgiref==3.11.1
charset-normalizer==3.4.7
Django==6.0.6
django-jazzmin==3.0.4
pillow==12.2.0
psycopg2-binary==2.9.12
reportlab==5.0.0
sqlparse==0.5.5
ua-parser==1.0.2
ua-parser-builtins==202606
user-agents==2.2.0
